<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<div>
    {% include '_menu.html' %}
    <h2>Расписание</h2>
    <table border="1">
        <tr>
            <th>Доктора</th>
            {% for date in dates %}
            <th>{{ date.date.month }}.{{ date.date.day }}</th>
            {% endfor %}
        </tr>
        {% for doc_i in range(doc_c) %}
        <tr>
            <th>{{doctors[doc_i].first_name}} {{doctors[doc_i].middle_name}} {{doctors[doc_i].surname}}</th>
            {% for date in dates %}
            <td>
                {% if records[doctors[doc_i].id].get(date.date.toordinal()) %}
                <a href="{{url_for('show_day_schedule', consultation_id=consult_id,
                 schedule_record_id = records[doctors[doc_i].id][date.date.toordinal()].id,
                 doctor_id = records[doctors[doc_i].id][date.date.toordinal()].doctor_id )}}">
                    {{ records[doctors[doc_i].id][date.date.toordinal()].status }}
                </a>
                {% else %}
                <a> ___ </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>